.idea
project-omega.sln.DotSettings.user
.vs
**/node_modules
**/obj
**/bin
**/.env
docker/built_server_app
docker/built_client_app
docker/mssql/data
docker/mssql/log
OmegaLibs/Omega.DbMigrator/publish
